{% load static %}
<!doctype html>
<html lang="en">
<head>
<title>Make an Offer</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Material Kit CSS -->
<link href="{% static 'events/css/material-kit.css' %}" rel="stylesheet" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-color-on-scroll  navbar-expand-lg" color-on-scroll="100">
  <div class="container"><a class="navbar-brand" href="{% url 'index' %}">ArchEvents</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-bar navbar-kebab"></span> <span class="navbar-toggler-bar navbar-kebab"></span> <span class="navbar-toggler-bar navbar-kebab"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item "> <a class="nav-link" href="{% url 'finder' %}">find events<span class="sr-only">(current)</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#">About us</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">contact us</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'profile' %}"><i class = "material-icons">perm_identity</i>{{ user.planner.name }} profile</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"> <i class = "material-icons">settings_power</i> logout</a></li>
          {% else %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> <i class = "material-icons">input</i> login</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="page-header"  style="background-color: #77819C ;" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1><strong>ArchEvents</strong></h1>
          <h3 class="title ">Place Your Offer Here!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class = "section ">
        {% if error_message  %}
        <p class="text-danger"><strong>{{ error_message }}</strong></p>
        {% else %}
      <h4 class="title"> You successfully submitted Offer For {{ event.name }}</h4>
            <h5>Offer Details </h5>
            <ul class = "list-group list-group-flush">
                <li class="list-group-item">event : {{ offer.event.name }}</li>
                <li class="list-group-item">planner : {{ offer.planner.name }}</li>
                <li class="list-group-item">prcie : {{offer.price }}</li>
                <li class="list-group-item"><p>description : {{ offer.description }}</p></li>

            </ul>
    {% endif %}
    </div>
  </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li> <a href="{% url 'index' %}"> ArchEvents </a> </li>
        <li> <a href=#> About Us </a> </li>
        <li> <a href=#> Contact us </a> </li>
      </ul>
    </nav>
    <div class="copyright float-right"> &copy; 
      <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a> for a better web. </div>
  </div>
</footer>
</body>
</html>